@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;

  min-height: 100%;
  margin: 0;

  background-color: #FEAFC3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-button {
  display: inline-block;

  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #2D3440;
  text-align: center;
  text-decoration: none;
  padding: 12px 32px;

  background-color: #FCFCFC;
  border: 4px solid rgb(255, 203, 216);
  border-radius: 26px;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);

  cursor: pointer;
}

.main-button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  border: 4px solid rgb(255, 255, 255);
  box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
}
.main-button:active {
  background-color: yellow;
}

.red-button {
  display: inline-block;

  color: #FCFCFC;

  background-color: #FF2F64;
  border: 4px solid rgb(254, 175, 195);
}

.red-button:hover {
  color: #2D3440;

  background-color: #FCFCFC;
  border: 4px solid #FF2F64;
  box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
}

.additional-button {
  display: inline-block;

  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #2D3440;
  text-align: center;
  text-decoration: none;
  padding: 8px 32px;

  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 20px;
}

.menu-button {
  display: block;
  position: relative;

  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 26px;
}

.menu-button:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.menu-button-search {
  width: 32px;
  height: 32px;
}

.search-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: auto;
}

.menu-button-link {
  padding: 6px 16px 6px 40px;
}

.menu-button-icon {
  position: absolute;
  top: 1px;
  right: 6px;
  bottom: 0;
  left: 16px;

  margin: auto 0;
}

.basket-button {
  width: 32px;
  height: 32px;
  padding: 9px 8px;

  background-color: #FF2F64;
  border: none;
  border-radius: 50%;

  cursor: pointer;
}

.basket-button:hover {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #FF2F64;
}

.basket-button svg {
  fill: #FCFCFC;
}

.basket-button:hover svg {
  fill: #2D3440;
}

.basket-button:visited {
  background-color: #FF2F64;
  border: 2px solid #2D3440;
}

.heading-two {
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  color: #2D3440;
}

.heading-three {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #2D3440;
}

.heading-four {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #2D3440;
}

.text-three {
  font-weight: 400;
  line-height: 20px;
  color: #2D3440;
}

.text-three-form {
  font-weight: 400;
  line-height: 20px;
  color: #B9B9B9;

  margin: 0;
  padding: 0;
}

.text-three-bold {
  font-weight: 700;
  line-height: 20px;
  color: #2D3440;
}

.signature {
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.signature-two {
  font-size: 12px;
  line-height: 16px;
  color: #2D3440;
}

.bold {
  font-weight: 700;
}

.center {
  text-align: center;
}

.without-underscores {
  text-decoration: none;
}

.with-underscores {
  text-decoration: underline;
}

.zeroing-out-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.picture_container {
  display: block;

  max-width: 100%;
  height: auto;
  margin: auto;
}

/* Pages */
/* Home page */
.page-header {
  width: 1170px;
  margin: 0 auto;

  outline: 2px solid rgba(233, 7, 56, 0.5);
}

.navigation {
  display: flex;
  justify-content: space-between;

  outline: 2px solid rgba(134, 233, 7, 0.5);
}

.navigation-shop {
  display: grid;
  grid-template-columns: 137px 1fr;
  column-gap: 16px;
  align-items: center;

  outline: 2px solid rgba(7, 7, 7, 0.5);
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 450px;

  outline: 2px solid rgba(7, 7, 7, 0.5);
}

.navigation-item {
  outline: 2px solid rgba(7, 7, 7, 0.5);
}

.navigation-link {
  display: block;
  text-decoration: none;
}

.navigation-shop .shop {
  padding: 32px 8px;
}

.navigation-link-phone {
  text-align: center;
  text-decoration: none;
}

.navigation-link-icon {
  min-width: 18px;
  min-height: 18px;
}

.main-container {
  flex-grow: 1;

  width: 1170px;
  margin: 0 auto;

  outline: 2px solid rgb(255, 255, 255);
}

.slideshow-section {
  width: 1170px;
  margin: 0 auto 80px;
}

.slideshow {
  display: flex;
  justify-content: space-between;
}

.slideshow-description {
  padding-top: 136px;
  padding-bottom: 138px;
  padding-left: 70px;
}

.slideshow-title {
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
  color: #2D3440;

  max-width: 470px;
  margin-top: 0;
  margin-bottom: 24px;
}

.slideshow-text {
  font-size: 18px;
  line-height: 24px;
  color: #2D3440;

  max-width: 414px;
  margin: 0 0 48px;
}

.slideshow-list {
  display: grid;
  grid-template-columns: 348px 100px 100px;
  gap: 41px;
  align-items: center;
}

.slideshow-photo {
  position: relative;
}

.slideshow-base {
  position: absolute;
  z-index: -1;
  top: 100px;
  left: 18px;

  width: 312px;
  height: 312px;

  background-color: #FFCBD8;
  border-radius: 50%;
}

.slideshow-item {
  position: relative;
}

.slideshow-small {
  position: absolute;
  z-index: -1;
  top: 25px;
  left: 0;

  width: 100px;
  height: 100px;

  background-color: #FFCBD8;
  border-radius: 50%;
  opacity: 0.4;
}

.arrow-button {
  position: absolute;

  width: 38px;
  height: 38px;

  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 26px;

  cursor: pointer;
}

.arrow-button:hover {
  background: rgba(252, 252, 252, 1);
}

.left-arrow {
  top: 237px;
  transform: rotate(180deg);

  padding: 9px;
}

.right-arrow {
  top: 237px;
  right: 0;

  padding: 9px;
}

.arrow-button svg{
  fill: #FCFCFC;
}

.arrow-button:hover svg{
  fill: #2D3440;
}

.slideshow-nav-wrapper {
  display: flex;
  justify-content: space-between;
}

.leaflet-list {
  display: flex;
  justify-content: space-between;

  width: 52px;
}

.leaflet-button {
  width: 12px;
  height: 12px;

  background-color: #FCFCFC;
  border: none;
  border-radius: 50%;
  opacity: 0.3;

  cursor: pointer;
}

.focus {
  opacity: 1;
}

.leaflet-button:hover {
  background: rgba(252, 252, 252, 0.3);
  border: 1px solid #FCFCFC;
}

.banners {
  width: 1170px;
  margin: 0 auto 80px;

  outline: 2px solid rgba(13, 12, 12, 0.5);
}

.banners-title {
  display: block;

  width: 443px;
  margin: 0 auto 56px;
}

.banners-list {
  display: flex;
  justify-content: space-between;
}

.banners-item {
  display: flex;

  width: 570px;

  background-color: #FF7799;
  border-radius: 16px;
}

.banners-description {
  padding: 40px 0 40px 40px;
}

.banners-subtitle {
  margin: 0 0 16px;
}

.banners-text {
  color: #2D3440;

  margin: 0 0 32px;
}

.banners-img-1 {
  transform: translate(-7px, 36px);
}

.banners-img-2 {
  transform: translate(-7px, 27px);
}

.products {
  width: 1170px;
  margin: 0 auto 80px;

  outline: 2px solid rgba(13, 12, 12, 0.5);
}

.products-title {
  display: block;

  width: 527px;
  margin: 0 auto 107px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  column-gap: 30px;
  row-gap: 91px;
}

.product-item {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-basis: 270px;

  box-sizing: border-box;
  padding: 133px 40px 28px;

  background-color: #FCFCFC;
  border-radius: 8px;

  outline: 2px solid rgba(13, 12, 12, 0.5);
}

.product-list .main-page {
  margin-bottom: 0;
}

.product-img {
  position: absolute;
  top: -51px;
  left: 52px;

  display: block;

  outline: 2px solid rgba(13, 12, 12, 0.5);
}

.product-title {
  text-align: center;

  margin: 16px auto 8px;

  outline: 2px solid rgba(13, 12, 12, 0.5);
}

.product-description {
  text-align: center;
  margin: 0 auto 20px;

  outline: 2px solid rgba(13, 12, 12, 0.5);
}

.buy-product {
  display: flex;
  justify-content: space-between;

  margin-top: auto;

  outline: 2px solid rgba(13, 12, 12, 0.5);
}

.product-price {
  margin: 0;
  align-self: center;
}

.store {
  width: 1122px;
  margin: 0 auto 80px;
  padding: 24px;

  background: #E2C49BFF url("../images/waffle.png") no-repeat center;
  background-size: cover;
  border-radius: 16px;
}

.store-shop {
  padding: 56px 40px;

  background-color: #FCFCFC;
  border-radius: 16px;
}

.store-title {
  margin: 0 0 56px;
}

.store-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.store-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.store-description {
  width: 442px;
  padding: 0 15px;
}

.info {
  display: flex;
  justify-content: space-between;

  width: 1170px;
  margin: 0 auto 80px;

  outline: 2px solid rgba(10, 10, 10, 0.5);
}

.recipe {
  width: 570px;
  box-sizing: border-box;
  padding: 32px;

  background-color: #ffffff;
  background-image: url("../images/recipe-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
}

.new-recipes {
  line-height: 20px;

  margin: 0 0 12px;
}

.recipe-title {
  width: 304px;
  margin: 0;
}

.subscribe {
  width: 570px;
  box-sizing: border-box;
  margin: 0;
  padding: 6px;

  background-color: #ffffff;
  background-image: url("../images/mail-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;

  outline: 2px solid rgba(241, 7, 27, 0.5);
}

.subscribe-form {
  padding: 26px;

  background-color: #FCFCFC;
  border-radius: 16px;

  outline: 2px solid rgba(147, 241, 7, 0.5);
}

.subscribe-description {
  margin: 0 0 42px;
}

.subscribe-inputs {
  display: grid;
  grid-template-columns: 332px auto;
  gap: 24px;
}

.delivery {
  display: flex;
  justify-content: space-between;

  width: 1170px;
  margin: 0 auto 80px;

  background-color: #ffffff;
  background-image: url("../images/delivery-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.delivery-description {
  padding-top: 167px;
  padding-left: 100px;
  padding-bottom: 163px;
}

.delivery-title {
  margin-top: 0;
  margin-bottom: 24px;
}

.delivery-description-text {
  width: 371px;
  margin: 0;
}

.delivery-subscription {
  width: 500px;
  margin:  64px  64px  64px 0;
  padding: 40px;

  background-color: #FCFCFC;
  border-radius: 8px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);

  outline: 2px solid rgba(147, 241, 7, 0.5);
}

.delivery-subscription-text {
  margin: 0 0 32px;
}

.delivery-form {
  display: flex;
  flex-direction: column;
}

.delivery-date-tel {
  display: grid;
  grid-template-columns: 117px 1fr;
  column-gap: 16px;

  margin-bottom: 20px;

  outline: 2px solid rgba(15, 237, 52, 0.5);
}

.delivery-input {
  display: flex;
  flex-direction: column;

  margin: 0;

  outline: 2px solid rgba(237, 181, 29, 0.5);
}

.delivery-input-desc {
  margin-bottom: 8px;
}

.delivery-date {
  padding: 14px 16px;

  border: 1px solid #B9B9B9;
  border-radius: 4px;
}

.subscribe-button {
  text-align: center;
  margin-top: 32px;

  outline: 2px solid rgb(234, 228, 56);
}

.contacts {
  width: 1170px;
  box-sizing: border-box;
  padding: 64px;

  background-color: #ffffff;
  background-image: url("../images/contacts-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.contacts-wrapper {
  width: 343px;
  box-sizing: border-box;

  background-color: #FCFCFC;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  padding: 40px;
}

.contacts-address {
  font-style: normal;

  display: flex;
  flex-direction: column;
}

.address-description {
  width: 179px;
  margin-bottom: 12px;
}

.address-text {
  margin-bottom: 24px;
}

.contacts-button {
  margin-top: 32px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1170px;
  margin: 0 auto;

  outline: 2px solid rgba(10, 10, 10, 0.5);
}

.social-list {
  display: flex;
  flex-wrap: wrap;
}

.social-item {
  height: 24px;
  margin-right: 16px;

  border: 2px solid rgba(252, 252, 252, 0.2);
  border-radius: 50%;
}

.social-item svg {
  fill: #FCFCFC;
}

.social-item:hover svg {
  fill: #2D3440;
}

.social-item:last-child {
  margin-right: 0;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  min-width: 360px;
}

.suppliers-wrapper {
  display: grid;
  grid-template-columns: 14px auto;
  gap: 8px;
  align-items: center;
}

.footer-heart {
  grid-column: 1/2;

  width: 16px;
  height: 16px;

  background-image: url("../images/icons/heart.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.footer-suppliers {
  grid-column: 2/3;
  outline: 2px solid rgba(237, 5, 5, 0.5);
}

.footer-academy {
  margin-top: 48px;
  margin-bottom: 48px;
  margin-right: 14px;
}

.html-academy-logo {
  margin-bottom: 14px;
}

.html-academy-sait {
  color: #2D3440;
}

/* Страничка каталога */
.main-catalog {
  margin-top: 32px;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;

  margin-bottom: 16px;

  outline: 2px solid rgba(10, 10, 10, 0.5);
}

.breadcrumbs-item {
  padding-right: 8px;
}

.catalog-title {
  margin-top: 0;
  margin-bottom: 40px;
}

.filter-form {
  margin-bottom: 99px;

  outline: 2px solid rgb(213, 21, 21);
}

.catalog-filter {
  display: flex;
  justify-content: flex-start;

  outline: 2px solid rgba(150, 241, 15, 0.5);
}

.catalog-form-group {
  margin-right: 24px;

  outline: 2px solid rgba(10, 10, 10, 0.5);
}

.products-catalog {
  outline: 2px solid rgba(4, 134, 226, 0.5);
}

.catalog-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 57px auto 81px;
  padding-left: 494px;
}

.catalog-pagination {
  display: grid;
  grid-template-columns: 16px auto 16px;
  gap: 16px;
  align-items: center;

  margin-left: auto;
}

.pagination-arrow svg {
  display: block;
  margin: auto;

  fill: #2D3440;
}

.pagination-disabled svg {
  fill: #2D3440;
  opacity: 0.2;
}

.pagination-list {
  display: flex;
}

.pagination-item {
  box-sizing: border-box;
  width: 24px;
  height: 24px;

  padding: 2px;
  text-align: center;
}

.current {
  background-color: #FCFCFC;
  border-radius: 50%;
}


